.rally-button {
  font-size: 1.5rem;
  width: 600px;
  height: 400px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 4rem;
  transition: all 0.3s ease;
}

.rally-button:hover {
  background-color: #000000;
  border-color: #ff64db;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 